.slideInLeft {
  animation-duration: 0.5s;
  animation-name: slideInLeft;
}
@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInRight {
  animation-duration: 0.5s;
  animation-name: slideInRight;
}
@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

// .fadeIn {
//   -webkit-animation-name: fadeIn;
//   animation-name: fadeIn;
//   animation-duration: 3s;
// }

// @keyframes fadeInRight {
//   0% {
//     opacity: 0;
//     -webkit-transform: translateX(20px);
//     -ms-transform: translateX(20px);
//     transform: translateX(20px);
//   }

//   100% {
//     opacity: 1;
//     -webkit-transform: translateX(0);
//     -ms-transform: translateX(0);
//     transform: translateX(0);
//   }
// }
